<div class="row">
  <div class="col-12 col-md-2 offset-md-5 text-center">
    <%= form_for @league do |f| %>

      <%= f.label :name, "League Name", class: "form-label mt-3" %>
      <%= f.text_field :name, class: 'form-control text-center' %>

      <%= f.label :year, "League Year", class: 'form-label mt-3' %>
      <%= f.number_field :year, class: 'form-control text-center', value: 2018 %>

      <%= f.submit "Submit", class: 'btn btn-info btn-block mt-3' %>
    <% end %>
  </div>
</div>