<!DOCTYPE html>
<html>
  <head>
    <title>Baseball</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md">
      <%= link_to "HOF Baseball 2018", "#", :class => "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Home", "#", :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Games", "#", :class => 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
